@import '~css/mixins.scss';

.tracked-goals {
  @include srlTable();
  table {
    max-width:400px;
    min-width:250px;
    td:nth-child(1) { width:5%;}
    td:nth-child(2) { width:65%; }

    .left {
      text-align: left;
    }
    th {
      background: linear-gradient(darken($dark-red, 9%), darken($dark-red, 17%));
      border-top: 1px solid darken($dark-red, 14%);
    }
    th.category {
      color: $srl-yellow;
      text-align: center;
    }
  }
}