@import '~css/variables';

.stream-search-box {
  clear:both;
  input {
    margin: 25px 10px 7px 14px;
    width:300px;
    border-radius: 1px;
    background-color:$darker-grey-background;
    color:darken($white, 10%);
    padding:2px 5px;
    border-color:$coal-grey;
  }
}