@import '~css/mixins';
@import '~css/variables';

.live-race-entrants {

  img {cursor: pointer; width: 18px;}
  img:hover { transform: scale(1.1);}

  @include srlTable();
  tbody {
    td{text-align: left;}
  }

  .player {
    width:110px;
    word-wrap: break-word;
  }

  .green {
    font-weight: 600;
    color:$green-light;
  }
  .true-skill {
    font-size: .9em;
    font-style: italic;
    color: $grey-darker;
    text-shadow: $text-shadow-base;
  }
}