 @import '../../css/variables';

 .commandList {
     span {
         float: right;
         color: $grey-darker;
         text-shadow: $text-shadow-base;
     }
     h2{
         border-bottom: 1px dotted $dark-grey;
         padding-bottom: 4px;
     }
 }