 @import '../../css/variables';

 .commandList {
     span {
         float: right;
         color: $grey-darker;
         text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
     }
     h2{
         border-bottom: 1px dotted $dark-grey;
         padding-bottom: 4px;
     }
 }