@import '../../../../css/variables';

header {
    padding-top: 16px;
    border-bottom: 1px $srl-blue dotted;
    box-shadow: 0 0 2px $srl-blue;
    background: linear-gradient(to top, $darker-grey-background, $main-background);
}

.srlLogo {
    display: block;
    width: 305px;
    height: 43px;
    background: url('../../../../css/images/srl_305.png') no-repeat;
}