@import '~css/variables.scss';

.channelPage{
  .irc{
    width: 100%;
    height: 600px;
    margin: 25px 0;
    border: 0;
    border-radius: 7px;
  }
  .block{
    display:block;
  }
  .important{
    color:$red;
    font-weight:$bold;
  }
  ul {
    list-style:none;
    padding-left:0;
  }
}