@import '../../../../css/variables.scss';
@import '../../../../css/mixins.scss';
.stream-list-item {
  @include srlPanel(364px, 90px);
  float: left;
  margin: 10px 5px 0 14px;
  padding: 5px;
  .stream-icon {
    @include gameThumbnail(null, 100%);
  }
  .stream-info {
    position: relative;
    height: 99%;
    padding-left:10px;
    .stream-name {
      display: block;
      font-weight: $bold;
      font-size: em(15);
      color: $srl-yellow;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .stream-title {
      display: block;
      height: 2.9em;
      font-size: em(12);
      color: $khaki;
      overflow: hidden;
      padding: 5px 10px 0 0;
    }
    .game-name {
      color: $sepia;
      text-shadow: $text-shadow-base, 0 0 1px darken($sepia, 35%);
      position: absolute;
      bottom: 0;
      font-size: em(12);
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 62%;
      white-space: nowrap;
    }
    .viewers {
      color: $grey;
      position: absolute;
      bottom: 0;
      right: 21px;
      font-size: em(12);
      float: right;
    }
    .icon {
      height: 12px;
      width: 12px;
      float: right;
      position: absolute;
      bottom: 1px;
      right: 4px;
    }
  }
}

.stream-list-item:hover {
  background: $dark-blue;
  background: linear-gradient($dark-blue, darken($dark-blue,5%));
  border-color: $srl-blue $black $black $srl-blue;
  cursor: pointer;
  .stream-info {
    .stream-title {
      color: lighten($royal-blue,15%);
      text-shadow: $text-shadow-base;
    }
    .stream-name {
      color: lighten($srl-yellow, 10%);
    }
  }
}

.stream-list-item-selected{
  @extend .stream-list-item:hover;
  background: darken($dark-blue,10%);
  background-image: linear-gradient(darken($dark-blue,5%), darken($dark-blue,15%));
}