@import '../../css/variables';
@import '../../css/mixins';

.alphaList {
    height: 600px;
    overflow-y: scroll;
    border-top: 2px $grey-background solid;
    border-bottom: 2px $grey-background solid;
    margin-top: 8px;

    ul {
        list-style: none;
        padding-left: 0;
        font-size: em(14)
    }
}