@import '~css/variables';
@import '~css/mixins';

$word-padding: 30px;

.glossary {
    h1 {
      padding-bottom: 30px;
    }

    .word {
      color: $srl-yellow;
      font-weight: $bold;
      font-size: em(15);
      text-shadow: $text-shadow-base;
    }

    .definition {
        padding-bottom: $word-padding;
    }
}