@import '../../css/global';

html{
    position: relative;
    min-height:100%;
}

body {
    margin: 0 0 $footer-height 0;
    background-color: $main-background;
    font-family: $font-family-base;
    font-size: #{$font-size-base}px;
    color: $grey;

    a {
        color: $grey;
        &:hover{
            color:$white;
        }
    }

    .wrap{
        margin-bottom:60px;
    }
}