@import '../../css/variables';
@import '../../css/mixins';

.popularList {
    ul {
        padding-left: 0;

        li {
            list-style: none;

            a {
                width: 100%;
                text-decoration: none;
                font-size: em(14);
                line-height: 1.6;
                font-weight: $bold;
                color: $grey;
                background: linear-gradient(to bottom, $dark-grey-background, $darker-grey-background);
                border-style: solid;
                border-width: 1px 0 1px 1px;
                border-radius: 4px;
                border-color: $dark-grey $black $black $dark-grey;
                box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
                display: inline-block;
            }
        }
    }
}