@import '~css/variables';

.player-game-list {
  a {
    &:first-child {
      margin-bottom: 8px;
    }
    text-decoration: none;
    display: block;
    border-radius: 5px;
    padding: 1px 0 1px 20px;

    &:hover {
      background-color: $tory-blue
    }
  }
  ul {
    padding-left: 0;
  }
}