@import '~css/variables';
@import '~css/mixins';

.btn {
    width: 108px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    font-size: em(14);
    line-height: 1.6;
    font-weight: $bold;
    color: $grey;
    background: linear-gradient(to bottom, $dark-grey-background, $darker-grey-background);
    border-style: solid;
    border-width: 1px 0 1px 1px;
    border-radius: 4px;
    border-color: $dark-grey $black $black $dark-grey;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    display: inline-block;  
    cursor: pointer;

    &.btn-large {
        font-size: em(15);
        line-height: 1.75;
        width: 234px;
    }

    &.btn-green {
        background: linear-gradient(to bottom, $fern-green, $dark-green);
        border-width: 1px 0px 1px 1px;
        border-style: solid;
        border-color:$green $black $black $green;
        color: #b6dec7;
    }

    &.active-red{
      border-color: $brick-red darken($brick-red, 25%) $black $brick-red;
      background: linear-gradient(to bottom, $brick-red, darken($brick-red, 25%));
      box-shadow: none;
    }

    &.active-blue{
      background: linear-gradient(to bottom, $dark-blue, darken($dark-blue,10%));
      box-shadow: none;
    }

    &.active-yellow{
      background: linear-gradient(to bottom, lighten($dark-brown,10%), $dark-brown);
      box-shadow: none;
    }

    &.active-green{
      background: linear-gradient(to bottom, $dark-green, darken($dark-green,5%));
      box-shadow: none;
    }

    &.active-grey{
      background: linear-gradient(to bottom, $coal-grey,darken($coal-grey,10%));
      box-shadow: none;
    }     

    &:hover {
        color: $white;
    }

    &.red-hover:hover {
        background: linear-gradient(to bottom, $red-background, $dark-red);
        border-color: $red $dark-red $dark-red $red;
    }
    &.blue-hover:hover {
        background: linear-gradient(to bottom, $royal-blue,$dark-blue);
        border-color:$royal-blue $dark-blue $dark-blue $royal-blue;
    }
    &.yellow-hover:hover {
        background: linear-gradient(to bottom, $mustard, $dark-brown);
        border-color:$mustard $dark-brown $dark-brown $mustard;
    }
    &.green-hover:hover {
        background: linear-gradient(to bottom, $green, $dark-green);
        border-color:$green $dark-green $dark-green $green;
    }
    &.grey-hover:hover {
        background: linear-gradient(to bottom, $dark-grey, $coal-grey);
        border-color:$dark-grey $coal-grey $coal-grey $dark-grey;
    }
}