@import '~css/variables';
$browser-context: $font-size-base; // Default font size
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@mixin srlPanel($width, $height) {
  border-radius: 4px;
  width: $width;
  height: $height;
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: $dark-grey $black $black $dark-grey;
  background: $dark-grey-background;
  background-image: linear-gradient($dark-grey-background, darken($dark-grey-background, 6%));
  box-shadow: 1px 1px 2px $black;
}

@mixin imageThumbnail($width, $height) {
  border-radius: 8px;
  border: solid 1px $black;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  margin-right: 6px;
  height: $height;
  width: $width;
}

@mixin srlTable() {
  table {
    margin-bottom: 16px;
    border-radius: 4px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    border-spacing: 0px;
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    background-color: darken($coal-grey, 2%);
    tr:nth-child(even) {
      background-color: darken($coal-grey, 4%);
    }
    th,
    td {
      padding: 3px 6px;
      text-align: center;
    }
    tr.sub-header {
      background: linear-gradient(darken($dark-red, 16%), darken($dark-red, 23%));
      border-top: 1px solid darken($dark-red, 11%);
      .goal{
        text-align: left;
        color: lighten($grey,6%);
        word-break: break-word;
      }
      .date{
        text-align: right;
        font-size: 85%;
        color: $brick-red;
        text-align: right;
        white-space: nowrap;
      }
    }
    tr.leaderboard {
      color: #eee;
      text-shadow: $text-shadow-base;
      font-weight: 700;
      background: linear-gradient($dark-red, darken($dark-red, 10%));
      th:first-child {
        border-radius: 4px 0 0 0;
      }
      th:last-child {
        border-radius: 0 4px 0 0;
      }
      th:hover.clickable {
        cursor: pointer;
        background: rgba(240, 240, 240, .2);
      }
    }
    th.race-id {
      text-align: right;
      color:$grey;
    }
    th.game-name {
      text-align: left;
      padding-left: 8px;
      font-weight: $bold;
      text-shadow: $text-shadow-base;
      column-span: all;
      a {
        color: $srl-yellow;
        &:hover {
          color: white;
        }
      }
    }

    a {
      text-decoration: none;
    }
  }
}

