  .flag {
    margin: 0 4px;
  }
  .dull {
    font-size: 96%;
    color: $grey-darker;
    text-shadow: $text-shadow-base;
  }
  
  //used by injected HTML from game rules.
  .red {
    color:$red-background;
  }

  .first-place, .second-place, .third-place {text-shadow: $text-shadow-base;}
  .first-place {
    color: $srl-yellow;
  }
  .second-place {
    color: $grey;
  }
  .third-place {
    color: $srl-orange;
  }
  .loser-place {
    color: $grey-darker;
  }