// Backgrounds
$main-background: #111111;
$grey-background: #424242;
$dark-grey-background: #303030;
$darker-grey-background: #202020;
$red-background: #f05858;
$dark-red-background: #ed3737;

// Colors
$srl-yellow: #f7e279;
$srl-yellow-dark:#d2c067;
$srl-blue: #305ab2;
$srl-orange: #e09456;
$grey: #bec7d2;
$dark-grey: #4c4c4c;
$coal-grey: #2C2C2C;
$grey-darker:#808080;
$black: #000000;
$red: #f26b6b;
$dark-red: #930d0d;
$white: #ffffff;
$royal-blue: #3c70df;
$dark-blue: #102A63;
$mustard: #a1934f;
$dark-brown: #302c17;
$green: #296b28;
$fern-green: #1D4A1C;
$dark-green: #162815;

// Weights
$bold: 700;

// Fonts
$font-family-base: 'Roboto',
Helvetica,
Arial,
sans-serif;
$font-size-base: 14;

//Sizes
$footer-height:35px;
