// Backgrounds
$main-background: #111111;
$grey-background: #424242;
$dark-grey-background: #303030;
$red-background: #f05858;
$dark-red-background: #ed3737;

// Colors
$srl-yellow: #f7e279;
$srl-blue: #305ab2;
$srl-orange: #e09456;
$grey: #bec7d2;
$dark-grey: #4c4c4c;
$black: #000000;
$red: #f26b6b;
$dark-red: #930d0d;

// Weights
$bold: 700;

// Fonts
$font-family-base: 'Roboto', Helvetica, Arial, sans-serif;
