@import '../../css/variables';
@import '../../css/mixins';
footer {
    background: linear-gradient(to top,$main-background, $darker-grey-background);
    color: $grey-darker;
    font-size: em(12);
    border-top: 1px $coal-grey dotted;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height:$footer-height;
    div {
        padding: 5px;
    }
}

.linktext {
    padding: 0px 5px;
    text-decoration: none;
    color: inherit;
     :hover {
        color: $white;
    }
}